@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::before, *::after{
	padding: 0;
	margin: 0;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9fbfc;
    padding: 60px;
    overflow: hidden;
}

.pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pricing-head {
    text-align: center;
    width: 360px;
    margin: 40px 0;
}

.pricing-head__title {
    color: #1e2338;
    margin-bottom: 10px;
    font-size: 37px;
}

.pricing-head__describe {
    color: #8892a6;
    font-size: 14px;
}

.pricing-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pricing-plan {
    padding: 20px 27px;
    background-color: #fff;
    border: 1px solid #f5f7f9;
    width: 360px;
    border-radius: 5px;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.pricing-plan__head {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;
}

.pricing-plan__price {
    color: #a4adbb;
    font-weight: 500;
    margin-bottom: 18px;
}

.pricing-plan__price span {
    font-size: 36px;
    font-weight: bold;
    color: #1e2338;
}

.pricing-plan__price span + span {
    font-size: 12px;
    font-weight: unset;
    color: unset;
    margin-left: 2px;
}

.pricing-plan__describe { 
    color: #a1abb8;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 18px;
}

.pricing-plan__line {
    width: 100%;
    height: 1px;
    background-color: #f6f6f8;
    margin-bottom: 24px;
}

.pricing-plan__list {
    list-style: none;
}

.pricing-plan__item {
    color: #575b5f;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
}

.pricing-plan__item i {
    margin-right: 10px;
    color: #48a083;
}

.pricing-plan__btn {
    width: 100%;
    padding: 10px 16px;
    background-color: #1e2338;
    outline: none;
    border: none;
    color: #e1e3e6;
    font-weight: 500;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

.pricing-plan__btn:hover {
    color: #f1f3f5;
    background-color: #272c3f;
}

.pricing-plan.active {
    position: relative;
    background-color: #1e2338;
    height: 480px;
    border: 4px solid #f5f5f5f2;
    border-radius: 10px;
    width: 400px;
}

.pricing-plan.active::before {
    content: 'Popular';
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(235, 102, 102);
    padding: 2px 18px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.pricing-plan.active .pricing-plan__head {
    color: #6b77e2;
}

.pricing-plan.active .pricing-plan__price span {
    font-size: 40px;
    color: #fefefe;
}

.pricing-plan.active .pricing-plan__price span + span {
    font-size: 12px;
    color: unset;
}

.pricing-plan.active .pricing-plan__line {
    background-color: #2d3046;
}

.pricing-plan.active .pricing-plan__item {
    color: #c8cacf;
}

.pricing-plan.active .pricing-plan__btn {
    color: #f1f6fe;
    background-color: #717ef0;
    margin-top: auto;
}

@media (max-width: 1123px) {
    .pricing-plan {
        width: 320px;
    }
}

@media (max-width: 1023px) {
    .pricing-plan {
        width: 360px;
    }
    .pricing-body {
        flex-direction: column;
    }
    .pricing-plan.active::before {
        top: 20px;
    }
}

@media (max-width: 400px) {
    .pricing-plan,
    .pricing-plan.active {
        width: 300px;
    }
    .pricing-head {
        width: 250px;
    }
    .pricing-head__title {
        font-size: 24px;
    }
    .pricing-plan.active::before {
        font-size: 12px;
    }
}

@media (max-width: 319px) {
    .pricing-plan,
    .pricing-plan.active {
        width: 280px;
    }
}